.details-main {
    background-color: #E3EBED;
    display: flex;
    height: 100vh;
}

.details-container-img {
    width: 30%;
    padding: 50px;
}

.details-img {
    width: 60vh;
    border-radius: 5px;
}

.details-container-info {
    padding: 50px;
    width: 30%;
}

.details-button-select {
    width: 30px;
    height: 30px;
}