.list-main {
  background-color: #e3ebed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.list-main-title {
  text-align: center;
  font-size: 60px;
  padding-top: 100px;
}
