.home-main {
    background-color: #E3EBED;
}

.playhome-img {
    width: 100%;
    position: relative;
}

.home-choice {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.home-img {
    position: relative;
}

.home-choice p {
    color: white;
    position: absolute;
    font-size: 60px;
    text-align: center;
    font-weight: bold 8px;
}

.home-category-button {
    margin-top: 250px;
    position: absolute;
    background-color: #39414D;
    color: white; 
    border-radius: 20px;
    font-size: 20px;
    width: 160px;
    height: 50px;
    border: solid black 1px;
    cursor: pointer;
}
